/**
 * Less file for all sizes / standard
 * @since 0.9.1
 */  

/** BASIC SETTINGS **/
html {
  /* @since 0.9.1 */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

body {
  /* @since 0.3.0 */
  background: rgba(255,255,255,1);
  padding: 0;
  /* @since 0.9.0 */
  margin: 0;
  /* @since 0.11.0 */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/** END BASIC SETTINGS **/

/** GENERAL SETTINGS **/
.page {
  width: 100%;
  margin: 0;
}

.spacer-10 {
  padding: 5px 0;
}

.spacer-20 {
  padding: 10px 0;
}

.spacer-50 {
  padding: 25px 0;
}

.rounded {
  background: rgba(255,255,255,1);
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 25px 0;
  border: 5px solid rgba(255, 102, 0, 1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  left: 300px;
  top: 50px;
  -webkit-box-shadow: 20px 20px 50px -20px rgba(133,131,133,1);
  -moz-box-shadow: 20px 20px 50px -20px rgba(133,131,133,1);
  box-shadow: 20px 20px 50px -20px rgba(133,131,133,1);
}

.container {
  width: 1200px;
  margin: 0 auto;
}
/** END GENERAL SETTINGS **/

/** Import single elements **/
@import "auth.import.less";
@import "home.import.less";
@import "acp.import.less";
@import "ba.import.less";