<template name="listAuthorsBookNew">       
  <select name="authors" id="authors" multiple="true" data-schema-key="authors" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Autoren wählen">
    {{{listAuthorsBookNew}}}
  </select>
</template>

<template name="listAuthorsBookEdit">       
  <select name="authors" id="authors" multiple="true" data-schema-key="authors" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Autoren wählen">
    {{{listAuthorsBookEdit}}}
  </select>
</template>

<template name="listAuthorListSel2">       
  <select name="authors" id="authors" multiple="true" data-schema-key="authors" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Autoren wählen">                    
    {{{listAuthorListSel2}}}
  </select>
</template>

<template name="editAuthorList">  
  {{{editAuthorList}}} 
</template>

<template name="editAuthorListSel2">       
  <select name="authors" id="authors" multiple="true" data-schema-key="authors" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Autoren wählen">                    
    {{{editAuthorListSel2}}}
  </select>
</template>