<template name="global">  
  {{#if currentUser}}
    {{#if isInRole 'admin'}}
      {{> headerAdmin}}       
      <div class="container">    
        <div class="row">      
          <div class="col-sm-3 sidebar">
            {{> yield region="sidebar"}}        
          </div>           
          <div class="col-sm-9 main">
            {{> yield}}            
          </div>    
        </div>     
      </div>
      {{> footerAdmin}} 
    {{else}}
      {{> header}}       
      <div class="container-fluid">    
        <div class="row">          
          <div class="col-sm-12 main">
            {{> yield}}            
          </div>    
        </div>     
      </div>
      {{> footer}}
    {{/if}}  
  {{else}}  
    {{> loading}}
  {{/if}}
</template>

<template name="globalDashboard">       
  {{#if currentUser}}
    {{#if isInRole 'admin'}}
      {{> headerAdmin}}       
      <div class="container">    
        <div class="row">               
          <div class="col-sm-12 main">
            {{> yield}}            
          </div>    
        </div>     
      </div>
      {{> footerAdmin}} 
    {{else}}
      {{> header}}       
      <div class="container-fluid">    
        <div class="row">          
          <div class="col-sm-12 main">
            {{> yield}}            
          </div>    
        </div>     
      </div>
      {{> footer}}
    {{/if}}  
  {{else}}  
    {{> loading}}
  {{/if}}
</template>

<template name="globalAuth">       
  {{> yield}}
</template>

<template name="globalPrint">      
  {{> yield}}
</template>