<template name="bookEdit">
  <h1 class="page-header">Buch bearbeiten</h1>  
  <div class="row">
    <div class="col-sm-12">
      <form class="form-horizontal" role="form">
        <div class="row">
          <div class="col-sm-6">
            <fieldset>
              <legend>Grunddaten</legend>
              <!-- bookTitle -->
              <div class="form-group form-group-sm">
                <label for="bookTitle" class="col-sm-3 control-label">Titel</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="bookTitle" name="bookTitle" value="{{bookTitle}}">
                </div>
              </div>
              <!-- bookSubtitle -->
              <div class="form-group form-group-sm">
                <label for="bookSubtitle" class="col-sm-3 control-label">Untertitel</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="bookSubtitle" name="bookSubtitle" value="{{bookSubtitle}}">
                </div>
              </div>
              <!-- bookSeries -->
              <div class="form-group form-group-sm">
                <label for="bookSeries" class="col-sm-3 control-label">Reihe</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="bookSeries" name="bookSeries" value="{{bookSeries}}"> 
                </div>
              </div>
            </fieldset>
            <div class="spacer-20"></div>
            <fieldset>
              <!-- authors -->
              <div class="form-group form-group-sm">
                <label for="authors" class="col-sm-3 control-label">Autor(en)</label>
                <div class="col-sm-9">
                  {{> listAuthorsBookEdit}}
                </div>
              </div>
              <!-- bookPrice -->
              <div class="form-group form-group-sm">
                <label for="bookPrice" class="col-sm-3 control-label">Ladenpreis</label>
                <div class="col-sm-5">
                  <div class="input-group">
                    <input type="text" pattern="\d+(,\d{2})?" class="form-control" id="bookPrice" name="bookPrice" value="{{bookPrice}}">
                    <span class="input-group-addon"><i class="icon-euro"></i></span>                    
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-sm-6">
            <fieldset>
              <legend>IDs / Überschriftengedöns</legend>
              <!-- bookISBN -->
              <div class="form-group form-group-sm">
                <label for="bookISBN" class="col-sm-3 control-label">ISBN</label>
                <div class="col-sm-9">
                  <input type="text" pattern="(?=.{17}$)97[89]-(?:[0-9]+-){2}[0-9]+-[0-9]" class="form-control" id="bookISBN" name="bookISBN" value="{{bookISBN}}">
                </div>
              </div>
              <!-- bookEAN -->
              <div class="form-group form-group-sm">
                <label for="bookEAN" class="col-sm-3 control-label">EAN</label>
                <div class="col-sm-9">
                  <input type="text" pattern="97[89][0-9]{10}" class="form-control" id="bookEAN" name="bookEAN" value="{{bookEAN}}"> 
                </div>
              </div>
              <!-- bookArtNrI3 -->
              <div class="form-group form-group-sm">
                <label for="bookArtNrI3" class="col-sm-3 control-label">ArtNr. I3</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="bookArtNrI3" name="bookArtNrI3" value="{{bookArtNrI3}}"> 
                </div>
              </div>
              <!-- bookArtNrBH -->
              <div class="form-group form-group-sm">
                <label for="bookArtNrBH" class="col-sm-3 control-label">ArtNr. BH</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="bookArtNrBH" name="bookArtNrBH" value="{{bookArtNrBH}}">
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        
        <div class="spacer-20"></div>

        <div class="row">
          <div class="col-sm-6">
            <legend>Weiteres</legend>           
          </div>
          
          <div class="col-sm-6">
            <fieldset>
              <legend>Notizen</legend>
              <!-- notes -->
              <div class="form-group">
                <div class="col-sm-12">              
                  <textarea rows="3" name="notes" data-schema-key="notes" maxlength="1000" class="form-control">{{notes}}</textarea>
                </div>           
              </div>
            </fieldset>
            <fieldset>
              <legend>Änderungslog</legend>
              <!-- notes -->
              <div class="form-group">
                <ul>
                  {{#each changes}}
                    <li>{{formatDate date}} - {{{content}}}</li>
                  {{/each}}
                </ul>           
              </div>
            </fieldset>           
          </div>
        </div>
        
        <div class="row">
          <!-- buttons -->
          <div class="control-group">
            <div class="controls">
              <input type="submit" value="Buch anlegen" class="btn btn-default"/>
              <input type="reset" value="Abbrechen" class="btn btn-default"/>
            </div>
          </div>
        </div>
        
      </form>
    </div>
  </div>
</template>