<template name="boSales">  
{{#if Template.subscriptionsReady}}  
  <div class="container acp bo">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-header">Verkäufe <small>{{bookTitle}}</small></h1>
      </div>
    </div>
    <div class="spacer-20"></div>  
    <!-- sidebar xs sm -->
    <div class="row hidden-md hidden-lg">     
      <div class="col-sm-12">
        {{> boSidebar}}    
      </div>  
    </div>
    <!-- END sidebar xs sm -->
    <!-- content xs sm -->
    {{#each salesPerYear}}
      <div class="row hidden-md hidden-lg">     
        <div class="col-xs-12 col-sm-12">
          <table class="table table-condensed table-hover">
            <caption>{{year}}</caption>
            <thead>
              <tr>
                <th class="col-sm-3">Monat</th>
                <th class="col-sm-3">Absatz</th>
                <th class="col-sm-3">Umsatz real</th>
                <th class="col-sm-3">Umsatz nach Ladenpreis</th>
              </tr>
            </thead>
            <tbody>
              {{#each values}}
                <tr>
                  <td>{{formatMonth month}}</td>
                  <td>{{units}} Ex.</td>
                  <td>{{formatCurrency volumesNet}} €</td>
                  <td>{{formatCurrency volumes}} €</td>
                </tr>          
              {{/each}}
              {{#each sum}}
                <tr class="active">
                  <td><strong>Summe</strong></td>
                  <td><strong>{{units}} Ex.</strong></td>
                  <td><strong>{{formatCurrency volumesNet}} €</strong></td>
                  <td><strong>{{formatCurrency volumes}} €</strong></td>
                </tr>
              {{/each}} 
            </tbody>   
          </table>
        </div>
      </div>
    {{/each}}
    <!-- END content xs sm -->
    <!-- content md lg -->
    <div class="row hidden-xs hidden-sm">
      <!-- sidebar -->
      <div class="col-md-3 col-lg-3">
        {{> boSidebar}}
      </div>
      <!-- content -->
      <div class="col-md-9 col-lg-9">
        {{#each salesPerYear}}
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <table class="table table-condensed table-hover">
                <caption>{{year}}</caption>
                <thead>
                  <tr>
                    <th class="col-sm-3">Monat</th>
                    <th class="col-sm-3">Absatz</th>
                    <th class="col-sm-3">Umsatz real</th>
                    <th class="col-sm-3">Umsatz nach Ladenpreis</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each values}}
                    <tr>
                      <td>{{formatMonth month}}</td>
                      <td>{{units}} Ex.</td>
                      <td>{{formatCurrency volumesNet}} €</td>
                      <td>{{formatCurrency volumes}} €</td>
                    </tr>          
                  {{/each}}
                  {{#each sum}}
                    <tr class="active">                     
                      <td><strong>Summe</strong></td>
                      <td><strong>{{units}} Ex.</strong></td>
                      <td><strong>{{formatCurrency volumesNet}} €</strong></td>
                      <td><strong>{{formatCurrency volumes}} €</strong></td>
                    </tr>
                  {{/each}} 
                </tbody>   
              </table>
            </div>
          </div>
        {{/each}}  
      </div>
    </div>
  </div>  
{{else}}
  {{> loading}}
{{/if}}
</template>