<template name="authorShow">
  {{setSessionData}}
  <a class="btn btn-default" id="abrechnen" href="" role="button">abrechnen</a>
  <a class="btn btn-default pull-right" href="/author/edit/{{_id}}" role="button">bearbeiten</a>
  <h1 class="page-header">Kontakt anzeigen</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="vcard">
        <span class="fn"><strong>{{firstName}} {{lastName}}</strong></span><br>        
        <hr>
        <h4>Kontaktdaten</h4>
        <span class="n">
          {{#if graduate}}<span class="honorific-prefix">{{graduate}}</span>{{/if}}
          {{#if company}}
            <div class="org">{{company}}</div>
          {{else}}  
            <span class="given-name">{{firstName}}</span>
            <span class="family-name">{{lastName}}</span>
          {{/if}}
        </span>
        <div class="adr">
          {{#if co}}<div class="extended-address">{{co}}</div>{{/if}}
          {{#if street}}<div class="street-address">{{street}}</div>{{/if}}
          {{#if additional}}<div class="extended-address">{{additional}}</div>{{/if}}          
          {{#if plz}}<span class="postal-code">{{plz}}</span>{{/if}}
          {{#if city}}<span class="locality">{{city}}</span>{{/if}}         
          {{#if country}}<div class="country-name">{{country}}</div>{{/if}}
        </div>
        <br>
        {{#if telephone}}<div class="tel">Tel.: {{telephone}}</div>{{/if}}
        {{#if telefax}}<div class="tel">Fax: {{telefax}}</div>{{/if}}
        {{#if mobil}}<div class="tel">Mobil: {{mobil}}</div>{{/if}}
        {{#if emailPriv}}<i class="fa fa-envelope"></i> Privat: <a class="email" href="mailto:{{emailPriv}}">{{emailPriv}}</a><br>{{/if}}
        {{#if emailOff}}<i class="fa fa-envelope"></i> Büro: <a class="email" href="mailto:{{emailOff}}">{{emailOff}}</a><br>{{/if}}
        {{#if url}}<a class="url" href="{{url}}" target="_blank">{{url}}</a>{{/if}}
      </div>
      <div class="spacer-20"></div>
      <h4>Weitere Daten</h4>
      <p>
        {{#if iban}}IBAN: {{iban}}<br>{{else}}---{{/if}}
        {{#if bic}}BIC: {{bic}}<br>{{/if}}
        {{#if bank}}Geldinstitut: {{bank}}{{/if}}
      </p> 
      <div class="spacer-20"></div>
      <h4>Notizen</h4>
      <p>
        {{notes}}
      </p>
      <div class="spacer-20"></div>
      <h4>Änderungslog</h4>
      <p>
        {{#each changes}}
          <li>{{formatDate date}} - {{{content}}}</li>
        {{/each}}
      </p>
    </div>
    <div class="col-sm-8">
      {{#if getAffiliate}}
        <table class="table table-condensed">
          <caption>Vertragspartner bei:</caption>
          <thead>
            <tr>
              <th class="col-sm-6">Titel</th>
              <th class="col-sm-4">Typ</th>
              <th class="col-sm-2" style="text-align:center">Konditionen</th>
            </tr>
          </thead>
          <tbody>
            {{#each getAffiliate}}
              <tr>
                <td><a href="/book/show/{{_id}}">{{bookTitle}}</a></td>
                <td>{{bookGroup}}</td>
                {{#if hasCondition}}
                  <td style="text-align:center"><a href="" id="{{_id}}" class="editCondition"><i class="fa fa-pencil-square-o"></i></a></td>
                {{else}}
                  <td style="text-align:center"><a href="" id="{{_id}}" class="addCondition"><i class="fa fa-plus"></i></a></td>
                {{/if}}
              </tr>
            {{/each}}
          </tbody>   
        </table>
      {{/if}} 
      
      {{#if getAuthor}}
        <table class="table table-condensed">
          <caption>Autor von:</caption>
          <thead>
            <tr>
              <th class="col-sm-6">Titel</th>
              <th class="col-sm-6">Typ</th>
            </tr>
          </thead>
          <tbody>
            {{#each getAuthor}}
              <tr>
                <td><a href="/book/show/{{_id}}">{{bookTitle}}</a></td>
                <td>{{bookGroup}}</td>
              </tr>
            {{/each}}
          </tbody>   
        </table>
      {{/if}}
    </div>
  </div>
  {{> modalSelectYear}}
  {{> modalAddConditions}}
  {{> modalEditConditions}}
</template>