<template name="acpHome">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Dashboard {{#with currentUser}}{{#with profile}}<small>Willkommen {{first_name}} {{last_name}}</small>{{/with}}{{/with}}</h1>
      </div>
    </div>
    <div class="spacer-20"></div>
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-success">
          <div class="panel-heading">Statistiken</div>
          <div class="panel-body">
          
            <div class="row">            
              <div class="col-sm-6 col-xs-6 infobox infobox-blue">
    						<span class="infobox-icon">
    								<i class="stats-icon fa fa-book"></i>
    						</span>
                <div class="infobox-data">  							
    							<div class="infobox-content"><span class="infobox-data-number">{{getPublishedCount 'booksCount'}}</span> Bücher</div>
    						</div>
    					</div>           
              <div class="col-sm-6 col-xs-6 infobox infobox-blue">
    						<span class="infobox-icon">
    								<i class="stats-icon fa fa-user"></i>
    						</span>
                <div class="infobox-data">  							
    							<div class="infobox-content"><span class="infobox-data-number">{{getPublishedCount 'authorsCount'}}</span> Adressen</div>
    						</div>
    					</div>             
            </div>
            
            <div class="row">            
              <div class="col-sm-6 col-xs-6 infobox infobox-orange">
    						<span class="infobox-icon">
    								<i class="stats-icon fa fa-shopping-cart"></i>
    						</span>
                <div class="infobox-data">  							
    							<div class="infobox-content"><span class="infobox-data-number">{{getSalesI3}} Ex.</span> Verkäufe i3</div>
    						</div>
    					</div>           
              <div class="col-sm-6 col-xs-6 infobox infobox-orange">
    						<span class="infobox-icon">
    								<i class="stats-icon fa fa-shopping-cart"></i>
    						</span>
                <div class="infobox-data">  							
    							<div class="infobox-content"><span class="infobox-data-number">{{getSalesLibreka}} Ex.</span> Verkäufe Libreka</div>
    						</div>
    					</div>             
            </div>
  
            <div class="row">            
              <div class="col-sm-6 col-xs-6 infobox infobox-orange">
    						<span class="infobox-icon">
    								<i class="stats-icon fa fa-shopping-cart"></i>
    						</span>
                <div class="infobox-data">  							
    							<div class="infobox-content"><span class="infobox-data-number">{{getSalesBH}} Ex.</span> Verkäufe BH</div>
    						</div>
    					</div>           
              <div class="col-sm-6 col-xs-6 infobox infobox-orange">
    						<span class="infobox-icon">
    								<i class="stats-icon fa fa-shopping-cart"></i>
    						</span>
                <div class="infobox-data">  							
    							<div class="infobox-content"><span class="infobox-data-number">{{getSalesAVA}} Ex.</span> Verkäufe AVA</div>
    						</div>
    					</div>             
            </div>
            
            <div class="row">            
              <div class="col-sm-6 col-xs-6 infobox infobox-green">
    						<span class="infobox-icon">
    								<i class="stats-icon fa fa-shopping-cart"></i>
    						</span>
                <div class="infobox-data">  							
    							<div class="infobox-content"><span class="infobox-data-number">{{getBillings}}</span> Abrechnungen</div>
    						</div>
    					</div>           
              <div class="col-sm-6 col-xs-6 infobox infobox-green">
    						<span class="infobox-icon">
    								<i class="stats-icon fa fa-shopping-cart"></i>
    						</span>
                <div class="infobox-data">  							
    							<div class="infobox-content"><span class="infobox-data-number">{{getBillingData}} €</span> Honorar</div>
    						</div>
    					</div>             
            </div>
            
          </div>
        </div>
      </div>
    </div>
</template>       