<template name="contractShow">
  <h1 class="page-header">Vertrag anzeigen</h1> <i><small>Vertrags-ID (Debug): {{_id}}</small></i>
  <div class="row">
    <div class="col-sm-6">
      <table class="table table-condensed">
        <caption>Buch</caption>
        <thead>
          <tr>
            <th class="col-sm-3"></th>
            <th class="col-sm-9"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i><small>ID (DEBUG)</small></i></td>
            <td><i>{{bookId}}</i></td>
          </tr>
          <tr>
            <td>Titel</td>
            <td><strong>{{bookTitle}}</strong></td>
          </tr>          
          <tr>
            <td>Untertitel</td>
            <td><strong>{{bookSubtitle}}</strong></td>
          </tr>
          <tr>
            <td>Reihe</td>
            <td><strong>{{bookSeries}}</strong></td>
          </tr>
        </tbody>   
      </table>
    </div>
    <div class="col-sm-6">
      <table class="table table-condensed">
        <caption>Vertragspartner</caption>
        <thead>
          <tr>
            <th class="col-sm-12"></th>
          </tr>
        </thead>
        <tbody>
          {{#each authors}}
            <tr><td>{{this}}</td></tr>
          {{/each}}  
        </tbody>   
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <table class="table table-condensed">
        <caption>Konditionen</caption>
        <thead>
          <tr>
            <th class="col-sm-3"></th>
            <th class="col-sm-9"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Honorar je Ex.</td>
            <td>{{#if feeInPercent}}<strong>{{feeInPercent}} %</strong> vom {{#if feeIsGross}}Brutto-Ladenpreis{{/if}}{{#if feeIsNet}}Netto-Ladenpreis{{/if}}{{#if feeIsOther}}Sonstiges (siehe Notizen){{/if}}{{else}}---{{/if}}</td>
          </tr>
          <tr>
            <td>Festhonorar</td>
            <td>{{#if feeFixed}}<strong>{{feeFixed}}</strong>{{else}}---{{/if}}</td>
          </tr>
          <tr>
            <td>Honorar ab</td>
            <td>{{#if feeBegin}} dem <strong>{{feeBegin}}.</strong>  verkauften Ex.{{else}}---{{/if}}</td>
          </tr>
          <tr>
            <td>E-Book</td>
            <td>{{#if feeEbookPercent}}<strong>{{feeEbookPercent}} %</strong> des Umsatzes{{else}}---{{/if}}</td>
          </tr> 
          <tr>
            <td>Lizenzen</td>
            <td>{{#if feeLicencePercent}}<strong>{{feeLicencePercent}} %</strong> aus Lizenzerlösen{{else}}---{{/if}}</td>
          </tr>
          <tr>
            <td>Freiexemplare</td>
            <td>{{#if freeCopiesFirst}}<strong>{{freeCopiesFirst}} Ex.</strong> der 1. Auflage{{else}}---{{/if}}
            {{#if freeCopiesNext}}<br><strong>{{freeCopiesNext}} Ex.</strong> je weitere Auflage{{/if}}
            </td>
          </tr>                          
        </tbody>   
      </table>
    </div>
    <div class="col-sm-6">
      <table class="table table-condensed">
        <caption>Weiteres</caption>
        <thead>
          <tr>
            <th class="col-sm-12"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Autor steht für Lesungen zur Verfügung: <strong>{{#if authorReading}}Ja{{else}}Nein{{/if}}</strong></td>
          </tr>
          <tr>
            <td>
              Notizen:<br>
              <i>{{#if notes}}{{notes}}{{else}}---{{/if}}</i>
            </td>
          </tr>
          <tr>
            <td>
              Änderungslog:<br>
              <ul>
                {{#each changes}}
                  <li>{{formatDate date}} - {{{content}}}</li>
                {{/each}}
              </ul>  
            </td>
          </tr>
        </tbody>   
      </table>
    </div>
  </div>
</template>            