<template name="contractEdit">
  <h1 class="page-header">Vertrag bearbeiten</h1>
  <div class="row">
    <div class="col-sm-8">
      <form class="form-horizontal" role="form">
        <fieldset>
          <legend>Buch</legend>
          <!-- bookTitle -->
          <div class="form-group">
            <label for="bookTitle" class="col-sm-3 control-label">Titel</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="bookTitle" name="bookTitle" value="{{bookTitle}}" placeholder="" disabled>
            </div>
          </div>
          <!-- bookSubtitle -->
          <div class="form-group">
            <label for="bookSubtitle" class="col-sm-3 control-label">Untertitel</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="bookSubtitle" name="bookSubtitle" value="{{bookSubtitle}}" placeholder="" disabled>
            </div>
          </div>
          <!-- bookSeries -->
          <div class="form-group">
            <label for="bookSeries" class="col-sm-3 control-label">Reihe</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="bookSeries" name="bookSeries" value="{{bookSeries}}" placeholder="" disabled>
            </div>
          </div>
        </fieldset>
        <div class="spacer-20"></div>
        <fieldset>
          <legend>Autor(en)</legend>
          <!-- authors -->
          <div class="form-group">
            <label for="authors" class="col-sm-3 control-label">Vertragspartner</label>
            <div class="col-sm-9">
              {{> editAuthorListSel2}}
            </div>
          </div>
        </fieldset>
        <div class="spacer-20"></div>
        <fieldset>
          <legend>Konditionen</legend>          
          <!-- feeInPercent -->
          <div class="form-group">
            <label for="feeInPercent" class="col-sm-3 control-label">Honorar</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="feeInPercent" name="feeInPercent" value="{{feeInPercent}}" placeholder="">
                <span class="input-group-addon"><i class="icon-percent"></i></span>
              </div>
            </div>
          </div>
          <!-- feeIs -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Von</label>
            <div class="col-sm-9">
              {{#if feeIsGross}}
                <input type="checkbox" class="checkFee" id="feeIsGross" name="feeIsGross"  checked="checked">
              {{else}}
                <input type="checkbox" class="checkFee" id="feeIsGross" name="feeIsGross">
              {{/if}}              
              <label for="feeIsGross" class="checkbox-inline">Brutto-LP</label>
              
              {{#if feeIsNet}}
                <input type="checkbox" class="checkFee" id="feeIsNet" name="feeIsNet"  checked="checked">
              {{else}}
                <input type="checkbox" class="checkFee" id="feeIsNet" name="feeIsNet">
              {{/if}}
              <label for="feeIsNet" class="checkbox-inline">Netto-LP</label>
              
              {{#if feeIsOther}}
                <input type="checkbox" class="checkFee" id="feeIsOther" name="feeIsOther"  checked="checked">
              {{else}}
                <input type="checkbox" class="checkFee" id="feeIsOther" name="feeIsOther">
              {{/if}}
              <label for="feeIsOther" class="checkbox-inline">Sonstiges, siehe Notizen</label>
            </div>           
          </div>
          <!-- feeFixed -->
          <div class="form-group">
            <label for="feeFixed" class="col-sm-3 control-label">Festhonorar</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="feeFixed" name="feeFixed" value="{{feeFixed}}" placeholder="">
                <span class="input-group-addon"><i class="icon-euro"></i></span>
              </div>
            </div>
          </div>
          <!-- feeBegin -->
          <div class="form-group">
            <label for="feeBegin" class="col-sm-3 control-label">anzuwenden ab</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="feeBegin" name="feeBegin" value="{{feeBegin}}" placeholder="x verkauften Exemplaren">
                <span class="input-group-addon"><i class="icon-quantity"></i></span>
              </div>
            </div>
          </div>
          <hr>
          <!-- freeCopiesFirst -->
          <div class="form-group">
            <label for="freeCopiesFirst" class="col-sm-3 control-label">Freiex. 1. Auflage</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="freeCopiesFirst" name="freeCopiesFirst" value="{{freeCopiesFirst}}" placeholder="">
                <span class="input-group-addon"><i class="icon-quantity"></i></span>
              </div>
            </div>
          </div>
          <!-- freeCopiesNext -->
          <div class="form-group">
            <label for="freeCopiesNext" class="col-sm-3 control-label">Freiex. weitere Auflagen</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="freeCopiesNext" name="freeCopiesNext" value="{{freeCopiesNext}}" placeholder="">
                <span class="input-group-addon"><i class="icon-quantity"></i></span>
              </div>
            </div>
          </div>
          <!-- feeEbookPercent -->
          <div class="form-group">
            <label for="feeEbookPercent" class="col-sm-3 control-label">Honorar E-Book</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="feeEbookPercent" name="feeEbookPercent" value="{{feeEbookPercent}}" placeholder="">
                <span class="input-group-addon"><i class="icon-percent"></i></span>
              </div>
            </div>
          </div>
          <!-- feeLicencePercent -->
          <div class="form-group">
            <label for="feeLicencePercent" class="col-sm-3 control-label">Honorar Lizenzerlöse</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="feeLicencePercent" name="feeLicencePercent" value="{{feeLicencePercent}}" placeholder="">
                <span class="input-group-addon"><i class="icon-percent"></i></span>
              </div>
            </div>
          </div>
          <hr>
          <!-- authorReading -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Autorenlesungen</label>
            <div class="col-sm-9"> 
              {{#if authorReading}}
                <input type="checkbox" class="checkAuthorReading" id="authorReading" name="authorReading" checked>
              {{else}}
                <input type="checkbox" id="authorReading" name="authorReading">
              {{/if}}
            </div>           
          </div>
        </fieldset>
        <div class="spacer-20"></div>
        <fieldset>
          <legend>Weiteres</legend>
          <!-- notes -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Notizen</label>
            <div class="col-sm-9">              
              <textarea rows="3" name="notes" data-schema-key="notes" maxlength="1000" class="form-control">{{notes}}</textarea>
            </div>           
          </div>
          <!-- changes -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Änderungslog</label>
            <div class="col-sm-9">              
              <ul>
                {{#each changes}}
                  <li>{{formatDate date}} - {{{content}}}</li>
                {{/each}}
              </ul>
            </div>           
          </div>
        </fieldset>
        <!-- buttons -->
        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Aktualisieren" class="btn btn-primary"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>