<template name="contractNew">
  <h1 class="page-header">Neuer Vertrag</h1>  
  <div class="row">
    <div class="col-sm-8">
      <form class="form-horizontal" role="form">
        <p>Hinweis: Vor Erstellen des Vertrages müssen Buch und Autoren schon vorhanden sein!</p>
        <fieldset>
          <legend>Buch</legend>
          <!-- bookTitle -->
          <div class="form-group">
            <label for="bookTitle" class="col-sm-3 control-label">Titel</label>
            <div class="col-sm-9">
              {{> listBookListSel2}}
            </div>
          </div>
          <!-- bookId -->
          <div class="form-group">
              <input type="hidden" class="form-control" id="bookId" name="bookId" value="">
          </div>
          <!-- bookSubtitle -->
          <div class="form-group">
            <label for="bookSubtitle" class="col-sm-3 control-label">Untertitel</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="bookSubtitle" name="bookSubtitle" readonly>
            </div>
          </div>
          <!-- bookSeries -->
          <div class="form-group">
            <label for="bookSeries" class="col-sm-3 control-label">Reihe</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="bookSeries" name="bookSeries" readonly>
            </div>
          </div>
        </fieldset>
        <div class="spacer-20"></div>
        <fieldset>
          <legend>Autor(en)</legend>
          <!-- authors -->
          <div class="form-group">
            <label for="authors" class="col-sm-3 control-label">Vertragspartner</label>
            <div class="col-sm-9">
              {{> listAuthorListSel2}}
            </div>
          </div>
        </fieldset>
        <div class="spacer-20"></div>
        <fieldset>
          <legend>Konditionen</legend>          
          <!-- feeInPercent -->
          <div class="form-group">
            <label for="feeInPercent" class="col-sm-3 control-label">Honorar</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="feeInPercent" name="feeInPercent" value="" placeholder="">
                <span class="input-group-addon"><i class="icon-percent"></i></span>
              </div>
            </div>
          </div>
          <!-- feeIs -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Von</label>
            <div class="col-sm-9">              
              <input type="checkbox" id="feeIsGross" name="feeIsGross" value="">
              <label for="feeIsGross" class="checkbox-inline">Brutto-LP</label>
              <input type="checkbox" id="feeIsNet" name="feeIsNet" value="">
              <label for="feeIsNet" class="checkbox-inline">Netto-LP</label>
              <input type="checkbox" id="feeIsOther" name="feeIsOther" value="">
              <label for="feeIsOther" class="checkbox-inline">Sonstiges, siehe Notizen</label>
            </div>           
          </div>
          <!-- feeFixed -->
          <div class="form-group">
            <label for="feeFixed" class="col-sm-3 control-label">Festhonorar</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="feeFixed" name="feeFixed" value="" placeholder="">
                <span class="input-group-addon"><i class="icon-euro"></i></span>
              </div>
            </div>
          </div>
          <!-- feeBegin -->
          <div class="form-group">
            <label for="feeBegin" class="col-sm-3 control-label">anzuwenden ab</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="feeBegin" name="feeBegin" value="" placeholder="x verkauften Exemplaren">
                <span class="input-group-addon"><i class="icon-quantity"></i></span>
              </div>
            </div>
          </div>
          <hr>
          <!-- freeCopiesFirst -->
          <div class="form-group">
            <label for="freeCopiesFirst" class="col-sm-3 control-label">Freiex. 1. Auflage</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="freeCopiesFirst" name="freeCopiesFirst" value="" placeholder="">
                <span class="input-group-addon"><i class="icon-quantity"></i></span>
              </div>
            </div>
          </div>
          <!-- freeCopiesNext -->
          <div class="form-group">
            <label for="freeCopiesNext" class="col-sm-3 control-label">Freiex. weitere Auflagen</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="freeCopiesNext" name="freeCopiesNext" value="" placeholder="">
                <span class="input-group-addon"><i class="icon-quantity"></i></span>
              </div>
            </div>
          </div>
          <!-- feeEbookPercent -->
          <div class="form-group">
            <label for="feeEbookPercent" class="col-sm-3 control-label">Honorar E-Book</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="feeEbookPercent" name="feeEbookPercent" value="" placeholder="">
                <span class="input-group-addon"><i class="icon-percent"></i></span>
              </div>
            </div>
          </div>
          <!-- feeLicencePercent -->
          <div class="form-group">
            <label for="feeLicencePercent" class="col-sm-3 control-label">Honorar Lizenzerlöse</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control" id="feeLicencePercent" name="feeLicencePercent" value="" placeholder="">
                <span class="input-group-addon"><i class="icon-percent"></i></span>
              </div>
            </div>
          </div>
          <hr>
          <!-- authorReading -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Autorenlesungen</label>
            <div class="col-sm-9">              
              <input type="checkbox" id="authorReading" name="authorReading" checked>
            </div>           
          </div>
        </fieldset>
        <div class="spacer-20"></div>
        <fieldset>
          <legend>Weiteres</legend>
          <!-- notes -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Notizen</label>
            <div class="col-sm-9">              
              <textarea rows="3" name="notes" data-schema-key="notes" maxlength="1000" class="form-control"></textarea>
            </div>           
          </div>
        </fieldset>
        <!-- buttons -->
        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Erstellen" class="btn btn-primary"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>