<template name="salesShow">
  {{getData}}
  <form class="form-horizontal" role="form">
    <div class="col-sm-4 pull-right">
      Jahr zur Auswertung wählen{{> listYears}}
      <input name="bookId" type="hidden" value={{_id}}>
    </div>
  </form>
  <h1 class="page-header">{{bookTitle}} | {{showYear}}</h1>       
  <div id="chartData"></div>
  {{> chart}}
</template>

<template name="chartUnits">
  <div class="row">
    <h2>Umsatz in €</h2>
    <div class="chartUnits" id="chartUnits"></div>
  </div>
</template>

<template name="chartVolumes">
  <div class="row">
    <h2>Absatz in Ex.</h2>
    <div class="chartVolumes" id="chartVolumes"></div>
  </div>
</template>

<template name="noData">
  <div class="row">
    <h2>Error 404</h2>
    Keine Daten bei diesem Titel vorhanden.
  </div>
</template>

<template name="chart">
  <div class="chart"></div>
</template>